<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="display_time_remaining.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <display_time_remaining.Properties.Settings>
      <setting name="FormatTime" serializeAs="String">
        <value>hh\:mm\:ss\:ff</value>
      </setting>
      <setting name="ColorText" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="ColorBackground" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DestTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="IsSpan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTopMost" serializeAs="String">
        <value>False</value>
      </setting>
    </display_time_remaining.Properties.Settings>
  </userSettings>
</configuration>